.login {
  height: calc(100vh - 50px);
  background: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#ffffffbc,#ffffff70), url(https://c0.wallpaperflare.com/preview/71/610/431/advice-article-background-beverage.jpg);
  background-size: cover;
  background-position: bottom;
  font-family: "Lora", sans-serif;
}

.loginTitle {
  font-size: 50px;
}

.loginForm > label {
 margin: 10px 0;
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.loginForm > input {
  padding: 10px;
  border: none;
  background-color: white;
}

.loginButton {
  margin-top: 20px;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 20px;
  padding: 10px;
  background-color: lightcoral;
}

.loginButton:disabled {
  cursor: not-allowed;
  background-color: rgb(247, 179, 179);
}
.registerButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: teal;
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

